.about-div {
  width: 80%;
  background: url('/sleeping-hen.png');
  background-size: cover;
  background-position: 0% 30%;
  color:  #D3D3D3;
  margin: 2rem auto;
  transition: .5s;
}

.about-filter {
  background: rgba(0, 0, 0, .6);
  padding: 2rem;
}

.about-header {
  text-align: center;
  margin-top: 0;
  font-size: 30px;
  text-transform: uppercase;
  grid-column: 2/3;
}

.about-content {
  font-size: 15px;
  line-height: 25px;
}

.about-header-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: end;
}

.about-pic {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #D3D3D3;
}