.pop-up-article {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  max-width: 1000px;
  margin: auto;
  z-index: 1;
  box-shadow: 2px 2px #373941;
}

.blog-article-header-image i {
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
}

.blog-article-header-image i:hover {
  color: #81BEAF;
  cursor: pointer;
}

.pop-up-article h1,
.pop-up-article h2,
.pop-up-article h3,
.pop-up-article p {
  margin: 1rem;
}

.pop-up-article h1 {
  font-size: 2rem;
}

.pop-up-article h2 {
  text-transform: uppercase;
}

.pop-up-article h3 {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .pop-up-article {
    margin: 0 2rem 2rem;
  }
}