@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.blog-container {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  margin: auto;
}

.blog-header {
  grid-column: 1/4;
  background: #373941;
  color: #fff;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 1000px;
  /*height: 130px;*/
}

.blog-header-title {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  font-size: 40px;
}

.blog-container-hidden {
  opacity: 0;
}

@media (max-width: 1000px) {
  .blog-container {
    grid-template-columns: 1fr;
  }
}