.home-interior {
  display: grid;
  grid-template-columns: 1fr 220px;
  width: 600px;
  margin: 3rem auto;
  background: #fff;
  box-shadow: 2px 2px #373941;
}

.home-pic {
  align-self: center;
  display: block;
  margin: 1rem;
  height: 175px;
  border-radius: 50%;
  transition: .5s;
  grid-column: 2;
  grid-row: 1/4;
}

.home-pic:hover {
  border-radius: 10px;
}

.home-title,
.home-subtitle,
.home-text {
  margin-left: 1rem;
  grid-column: 1;
  box-sizing: border-box;
}

.home-subtitle {
  margin-top: .5rem;
}

.home-title {
  font-size: 25px;
  margin-bottom: .5rem;
}

.home-subtitle {
  font-size: 18px;
}

.logo-container {
  margin: 2rem auto;
  height: 50px;
  width: 50px;
}

@media (max-width: 850px) {
  .logo-container {
    position: static;
  }
}

@media (max-width: 650px) {
  .home-interior {
    grid-template-columns: 1fr;
    width: 350px;
  }
  .home-pic {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
  }
  .home-subtitle {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .home-subtitle,
  .home-title {
    text-align: center;
    margin-left: 0;
  }
  .home-title {
    margin-bottom: 1rem;
  }
  .home-title {}
  .home-text {
    width: 250px;
    margin: 1rem;
  }
}

@media (max-width: 400px) {
  .home-interior {
    width: 300px;
  }  
}