@import '../font-awesome-4.7.0/css/font-awesome.min.css';

.social-container {
  align-self: center;
  margin: 3rem auto 0 auto;
  transform: rotate(0deg);
  width: 50px;
  height: 50px;
}

.social-container ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.social-container ul li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;  
  transform: scale(0);
  border-radius: 10px;
}

.social-container ul.active li {
  transform: scale(0.95);
}

.social-container ul li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #262626;
  transition: 0.5s;
}

.social-container ul li a:hover {
  color: #fff;
  background: #2196f3;
}

.social-container ul.active li:nth-child(1) {
  top: -100%;
  left: -100%;
  transition-delay: 0s;
}

.social-container ul.active li:nth-child(2) {
  top: -100%;
  left: 0;
  transition-delay: 0.2s;
}

.social-container ul.active li:nth-child(3) {
  top: -100%;
  left: 100%;
  transition-delay: 0.4s;
}

.social-container ul.active li:nth-child(4) {
  top: 0;
  left: 100%;
  transition-delay: 0.6s;
}

.social-container ul.active li:nth-child(5) {
  top: 100%;
  left: 100%;
  transition-delay: 0.8s;
}

.social-container ul.active li:nth-child(6) {
  top: 100%;
  left: 0;
  transition-delay: 1s;
}

.social-container ul.active li:nth-child(7) {
  top: 100%;
  left: -100%;
  transition-delay: 1.2s;
}

.social-container ul.active li:nth-child(8) {
  top: 0;
  left: -100%;
  transition-delay: 1.4s;
}

.social-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e91e63;
  transform: scale(.96);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.social-toggle:before {
  font-family: fontAwesome;
  color: #fff;
  content: '\f1e0';
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}

.social-toggle.active:before {
  font-family: fontAwesome;
  content: '\f00d';
}



