@import '../font-awesome-4.7.0/css/font-awesome.min.css';

.social-row {
  width: 290px;
  margin: auto;
}

.social-row ul {
  display: flex;
  margin: 0;
  padding: 0;

}

.social-row ul li {
  list-style: none;
  margin: .25rem;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.social-row ul li i {
  color: #373941;
}

.social-row ul li:hover {
  background: #80BDAE;
  cursor: pointer;
}

.social-row ul li:hover i {
  color: #fff;
}

